.w25p {
    width: 25%;
}

.createAnc {
    cursor: pointer;
}

.createAnc:hover {
    color: rgb(100, 23, 224);
    text-decoration: underline rgb(100, 23, 224);
}

.w50p {
    width: 50%;
}

.w70p {
    width: 70%;
}